h1, h2, h3{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    /* Jag valde just Verdana, eftersom jag tycker om denna teckensnitt och den syns mycket bättre på bakgrunden jag har valt.*/
    color: rgb(153, 75, 206);
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


body{
    font-size: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-image: url("moon.jpg");
}
html {
    text-align: center;
}


