.blurred-bg-container{
    background:url(blur-book-stack-books-bookshelves-590493\ \(1\).jpg) ;
    height: 100vh;
    background-size: cover;
}
body,.blurred-bg-container .content h1{
    margin: 0;
}
.blurred-bg-container .content{
    background: inherit;
    width: 80%;
    height: 90%;
    border-radius: 8px;
    box-shadow: 0 0 32px tgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow:hidden;
}
.blurred-bg-container .text{
    padding: 16px;
    background: rgba(255, 255, 255, 0.3); 
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.blurred-bg-container .blur{
    background: inherit;
    height: 130vh;
    width: 166.667%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-10%, -30%);
    filter: blur(20px);
    z-index: -1;
}