body
{
    margin: 0;
    padding: 0;
}
.container
{
    position: relative;
    width: 100%;
}
.container .section
{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
}
.container .section:nth-child(1)
{
    background: url(https://i.pinimg.com/originals/af/24/3b/af243b40901bb7bd45de14ff0dea88bc.png);
    background-size: cover;
}
.container .section:nth-child(2)
{
    background: url(https://cdn1.cdnme.se/4190278/6-3/svensexa_och_aska_102_51f7d2b6e087c35c93a6fa54.jpg);
    background-size: cover;
}
.container .section:nth-child(3)
{
    background: url(https://www.gamereactor.se/media/54/_2865483b.jpg);
    background-size: cover;
}
.container .section:nth-child(4)
{
    background: url(https://example24297.files.wordpress.com/2018/02/maxresdefault.jpg?w=1200);
    background-size: cover;
}
.container .section:nth-child(5)
{
    background: url(https://cdn2.cdnme.se/4602114/8-3/20161226_182224_590b32ea9606ee1d10839354.jpg);
    background-size: cover;
}

