

h1, p{
    color: rgb(187, 187, 187);
}


body .ommig .content h1{
    margin: 0;
}
.ommig .text{
    padding: 16px;
    background: rgba(255, 255, 255, 0.03);
    height: 100%;
    box-sizing: border-box;
}
.ommig .blur{
    background: inherit;
    position: absolute;
    height: 100vh;
    width: 166.667%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-10%,-80%);
    filter: blur(200px);
    z-index: -1;
}




body
{
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -5px;
    margin-right: -20px;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
}

.container section
{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
}

 .ommig .content{
    background:inherit;
    width: 40%;
    height: 30%;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
 }


a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #032ff4, #ff0090, #2ec5b1, #032ff4);
    background-size: 400%;
    border-radius: 30px;
    animation: animate 8s linear infinite;
}
.ommig a{
    background: linear-gradient(90deg, #032ff4, #ff0090, #2ec5b1, #032ff4);
    animation: animate 8s linear infinite;
}
.konst a{
    background: linear-gradient(90deg, #033512, #ffffff, #97cf72, #033512);
    animation: animate 8s linear infinite;
}


@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}






























.ommig
{
    background: url(om-mig-bakgrunden.jpg);
    background-size: cover;
}
.container section:nth-child(2)
{
    background: url(lagarnas-bakgrunden.jpg);
    background-size: cover;
}
.container section:nth-child(3)
{
    background: url(konstakning-bakgrund.jpg);
    background-size: cover;
}
.container section:nth-child(4)
{
    background: url(bok-bakgrunden.jpg);
    background-size: cover;
}
.container section:nth-child(5)
{
    background: url(anime-bakgrunden.jpg);
    background-size: cover;
}



