.blurred-bg-container{
    background:url(skates.png) ;
    height: 100vh;
    background-size: cover;
}
body,.blurred-bg-container .content h1{
    margin: 0;
}
.blurred-bg-container .content{
    background: inherit;
    width: 39%;
    height: 60%;
    border-radius: 8px;
    box-shadow: 0 0 32px tgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    overflow:hidden;
}
.blurred-bg-container .text{
    padding: 16px;
    background: rgba(255, 255, 255, 0.3); 
    height: 100%;
    box-sizing: border-box;
}
.blurred-bg-container .blur{
    background: inherit;
    height: 100vh;
    width: 166.667%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-10%, -30%);
    filter: blur(20px);
    z-index: -1;
}